{% extends 'basedash.html' %}
{% load static %}
{% block content %}
<div>
    <h3><b>Editar de Critério</b></h3>
</div>
<form action="{% url 'kitkat:edit_criterio_p' pk=object.id %}" class="" method="post">
    {% csrf_token %}
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    
    <div class="col-md-10">

        <label style="margin-top: 5px;"><b>Nome</b></label>
        <input style="width: 400px;" type="text" required value="{{object.name}}" name="name" class="form-control" placeholder="" value="">

    </div>
    <div class="col-md-10">

        <label><b>Descrição</b></label>
        <textarea style="width: 400px;" type="text" required name="description" class="form-control" placeholder="" value=""></textarea>

    </div>
    
    <br>
    <div class="col-md-10">
        <label><b>Peso</b></label>
        <select class="form-control" name="rate" id="exampleFormControlSelect1">
            <option>10</option>
            <option>1000</option>
        </select>

    <br>
    </div>
    <div class="col-md-5">
    <button type="submit" style="margin-bottom: 5px;" class="btn btn-warning">Editar</button>
</div>
</form>


{% endblock %}